.action-controllers{
    button{
        background-color: transparent;
        border: 0;
        font-size: 1.2rem;
        transition: .1s ease-in-out;
        &:hover{
            cursor: pointer;
            transform: translateY(-.1rem);
            transition: .1s ease-in-out;
        }
    }
}
.task-name{
    overflow-wrap: anywhere;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}